In [1]:
import pandas as pd

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [3]:
len(dir(pd))

140

In [4]:
pd.DataFrame([1,2,3])

   0
0  1
1  2
2  3

In [5]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
a=range(2,22,2)

In [7]:
b=range(3,33,3)

In [8]:
c=range(4,44,4)

In [9]:
d=range(5,55,5)

In [10]:
pd.DataFrame([a,b,c,d])

   0   1   2   3   4   5   6   7   8   9
0  2   4   6   8  10  12  14  16  18  20
1  3   6   9  12  15  18  21  24  27  30
2  4   8  12  16  20  24  28  32  36  40
3  5  10  15  20  25  30  35  40  45  50

In [11]:
w_d=weather_data=[('1/1/2017',32,6,'rain'),('1/2/2017',35,7,'sunny'),('1/3/2017',28,2,'snow')]

In [12]:
pd.DataFrame(w_d)

          0   1  2      3
0  1/1/2017  32  6   rain
1  1/2/2017  35  7  sunny
2  1/3/2017  28  2   snow

In [13]:
pd.DataFrame(w_d,columns=['day','temperature','windspeed','event'])

        day  temperature  windspeed  event
0  1/1/2017           32          6   rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow

In [14]:
s=pd.DataFrame(w_d,columns=['day','temperature','windspeed','event'])

In [15]:
s['event']

0     rain
1    sunny
2     snow
Name: event, dtype: object

In [16]:
s['event']=8

In [17]:
s

        day  temperature  windspeed  event
0  1/1/2017           32          6      8
1  1/2/2017           35          7      8
2  1/3/2017           28          2      8

In [18]:
s['t']=range(3)

In [19]:
s

        day  temperature  windspeed  event  t
0  1/1/2017           32          6      8  0
1  1/2/2017           35          7      8  1
2  1/3/2017           28          2      8  2

In [20]:
s.shape

(3, 5)

In [21]:
s.loc['z']=range(5)

In [22]:
s

        day  temperature  windspeed  event  t
0  1/1/2017           32          6      8  0
1  1/2/2017           35          7      8  1
2  1/3/2017           28          2      8  2
z         0            1          2      3  4

In [23]:
help(s.drop)

Help on method drop in module pandas.core.frame:

drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise') method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by specifying directly index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame
        DataFrame without the removed index or column labels.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    lama    speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    lama    speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [24]:
s.drop('day',axis=1)

   temperature  windspeed  event  t
0           32          6      8  0
1           35          7      8  1
2           28          2      8  2
z            1          2      3  4

In [25]:
s.drop(2)

        day  temperature  windspeed  event  t
0  1/1/2017           32          6      8  0
1  1/2/2017           35          7      8  1
z         0            1          2      3  4

In [26]:
s

        day  temperature  windspeed  event  t
0  1/1/2017           32          6      8  0
1  1/2/2017           35          7      8  1
2  1/3/2017           28          2      8  2
z         0            1          2      3  4

In [27]:
s.drop('day',axis=1,inplace=True)

In [28]:
s

   temperature  windspeed  event  t
0           32          6      8  0
1           35          7      8  1
2           28          2      8  2
z            1          2      3  4

In [29]:
s.drop(['event','temperature'],axis=1)

   windspeed  t
0          6  0
1          7  1
2          2  2
z          2  4

In [30]:
s.head(1)

   temperature  windspeed  event  t
0           32          6      8  0

In [31]:
s.tail(1)

   temperature  windspeed  event  t
z            1          2      3  4

In [32]:
s.columns

Index(['temperature', 'windspeed', 'event', 't'], dtype='object')

In [33]:
s.index

Index([0, 1, 2, 'z'], dtype='object')

In [34]:
s['temperature'].max()

35

In [35]:
s['temperature'].min()

1

In [36]:
s['temperature'].describe()

count     4.000000
mean     24.000000
std      15.599145
min       1.000000
25%      21.250000
50%      30.000000
75%      32.750000
max      35.000000
Name: temperature, dtype: float64